footer{

}

.footer{
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	justify-content: space-between;
	padding-bottom: 30px;
	&__title{
		font-size: 18px;
		text-transform: uppercase;
		padding-bottom: 35px;
	}

	&__item{
		display: block;
		padding-bottom: 7px;
		
		&:hover{
			opacity: 0.6;
		}
	}

	&__soc{
		padding-right: 10px;

		&:hover{
			opacity: 0.65;
		}
	}

	&__pays{
		font-size: 0;
		img{
			padding-right: 4px;
			padding-bottom: 4px;
		}
	}

	&__right{
		padding-right: 85px;
		width: 120px;
	}

	&__useful{
		width: 570px;
		display: -webkit-flex;
		display: flex;
		-webkit-box-pack: justify;
		-webkit-justify-content: space-between;
		justify-content: space-between;
	}

	&__col{
		padding-right: 30px;
	}
}

/* ==================================responsive========================== */
/* ==================================960========================== */
/* ==================================================================== */
@media screen and (max-width: 1170px){
	
	.footer{

		&__useful{
			width: 475px;
		}

		&__right{
			padding-right: 25px;
		}
	}

}

/* ==================================744========================== */

@media screen and (max-width: 959px){
	.footer{

		&__useful{
			width: 410px;
		}

		&__right{
			padding-right: 0;
		}

		&__col{
			padding-right: 20px;
		}
	}
}

/* ==================================320========================== */
@media screen and (max-width: 743px){
	.footer{
		display: block;

		&__useful{
			width: 100%;
			-webkit-flex-wrap: wrap;
			-moz-flex-wrap: wrap;
			-ms-flex-wrap: wrap;
			-o-flex-wrap: wrap;
			flex-wrap: wrap;
			justify-content: flex-start;
		}

		&__title{
			padding-bottom: 25px;
		}

		&__middle{
			padding-bottom: 30px;
		}

		&__col{
			padding-right: 40px;
			width: 100px;
			padding-bottom: 35px;
		}
	}
}