*{padding: 0; margin: 0; outline: none}
ul{list-style-type: none}
a{text-decoration: none; -webkit-transition: .35s;
-moz-transition: .35s;
-ms-transition: .35s;
-o-transition: .35s;
transition: .35s;}
button{
	-webkit-transition: .35s;
	-moz-transition: .35s;
	-ms-transition: .35s;
	-o-transition: .35s;
	transition: .35s;
}

html, body{
	font-family: $font-stack;
	font-size: $primary-fz;
	color: $primary-color;
	line-height: $primary-l-heigth;
}

a{
	color: $primary-color;
}
input{
	background: none;

}


.container{
	width: 100%;
	max-width:  1170px;
	margin: 0 auto;
	position: relative;
	&:after{
			content: "";
			clear: both;
			display: block;
		}
}

.btn{
	text-align: center;
	font-size: 18px;
	color: #fff;
	width: 200px;
	display: block;
	border-radius: 50px;
	padding: 10px 0 ;
	background-color: #009247;
	cursor: pointer;

	&--buy{
		position: relative;
	}

	img{
		position: absolute;
		top:20px;
		right: 30px;		
	}

	&:hover{
		background-color: #00b659;
	}
}

.title{

	text-transform: uppercase;
	font-size: 18px;
}

/* ==========m-top============ */

.m-top{
	background-color: #fcfcda;
	padding-bottom: 80px;
	&__body{
		width: 800px;
		margin: 0 auto;
		display: -webkit-flex;
		display: flex;
		-webkit-align-items: center;
		align-items: center;
	}

	&__pict{
		width: 230px;
		padding-right: 100px;

		img{
			width: 100%;
		}
	}

	&__desc{
		font-size: 16px;
	}

	&__bot{
		display: -webkit-flex;
		display: flex;
		-webkit-align-items: center;
		align-items: center;
	}

	&__btn{
		margin-left: 95px;
	}

	&__price{
		font-size: 40px;
		font-family: "RobotoBold";
	}

	&__title{
		font-size: 45px;
		font-family: "RobotoBold";
		text-transform: uppercase;
	}
}

/* ==========arrs============ */
.arrs{
	position: absolute;
	right: 0;
	top: 15px;
	a{
		padding: 0 12px;
	}
	&__right{
		margin-right: -12px;
	}

	.slick-disabled{
		opacity: 0.5;
	}
}

/* ==========catalog============ */

.catalog{
	margin-bottom: 35px;
	display: -webkit-flex;
	display: flex;
	&__body{
		
	}

	&__ic{
		display: inline-block;
		width: 70px;
		text-align: center;
	}

	&__left{
		width: 285px;
		padding-top: 55px;
	}

	&__right{
		padding-top: 45px;
		width: 885px;
	}

	&__title{
		padding-left: 15px;
		padding-bottom: 8px;
	}

	&__type{
		position: relative;
		display: -webkit-flex;
		display: flex;
	}

	&__link2{
		padding: 10px 35px;
		display: block;
		font-size: 16px;
		&:hover{
			background-color: #fcfcda;
		}
		&--active{
			background-color: #fcfcda;
		}
	}

	&__link{
		border-bottom: $bd;
		font-size: 14px;
		color: #858585;
		text-transform: uppercase;
		line-height: 80px;
		height: 80px;
		display: block;
		position: relative;

		&:hover{
			background-color: #fbf9f9;
		}
		span{
			padding-left: 25px;
		}

		img{
			vertical-align: middle;
			line-height: 80px;
		}
	}

	&__arr{
		position: absolute;
		top: 50%;
		right: 35px;
	}

	&__good{
		width: 33.33%;

	}

	&__slider{
		border: $bd;
	
	}
}

/* ==========good============ */
.good{
	padding: 0 15px;
	height: 486px;
	border-right: $bd;
	box-sizing: border-box;
	&:hover{
		.good__shop{
			background-color: #009247;
			background-image: url("../img/shopping-cart-w.svg")
		}
	}

	&__top{
		padding-top: 35px;
	}	

	&__pict{
		text-align: center;
		height: 280px;
		box-sizing: border-box;
		padding-top: 15px;

		img{
			max-width: 100%;
	    max-height: 100%;
	    width: auto;
	    height: auto;
		}
	}

	&__quan{
		display: block;
		text-align: center;
		line-height: 1.2;
		padding: 0 7px;
		font-size: 12px;
		color: $light-color;
		&--active{
			color: $primary-color;

			.good__dot{
				background-color: $primary-color;
			}
		}
	}

	&__desc{
		color: $light-color;
		line-height: 1.3;
	}

	&__type{
		width: 170px;
		display: -webkit-flex;
		display: flex;
	}

	&__bottom{
		padding-top: 25px;
		display: -webkit-flex;
		display: flex;
		-webkit-box-pack: justify;
		-webkit-justify-content: space-between;
		justify-content: space-between;
	}

	&__price{
		font-family: "RobotoBold";
		font-size: 24px;
		line-height: 1;
	}

	&__shop{
		margin-top: 5px;
		margin-left: auto;
		margin-right: 5px;
		display: block;
		width: 36px;
		height: 36px;
		border-radius: 20px;
		background-image: url("../img/shopping-cart.svg");
		background-position: center;
		background-repeat: no-repeat;
	}

	&__dot{
		margin: 0 auto;
		margin-top: 17px;
		width: 10px;
		height: 10px;
		border-radius: 6px;
		background-color: $light-color;
	}
}

/* ==========about============ */
.about{
	padding-bottom: 95px;
	&__title{
		font-size: 30px;
		text-align: center;
		text-transform: uppercase;
		padding-bottom: 15px;
	}
}


/* ==================================responsive========================== */
/* ==================================960========================== */
/* ==================================================================== */
@media screen and (max-width: 1170px){
	.container{
		max-width:  960px;
		padding: 0 10px;
	}
}

/* ==================================744========================== */

@media screen and (max-width: 959px){
	.container{
		max-width:  743px;
		padding: 0 20px;
	}
}

/* ==================================320========================== */
@media screen and (max-width: 743px){
	.container{
		max-width:  460px;
		padding: 0 20px;
	}

	html, body{
		font-size: $primary-fz-mob;
		line-height: $primary-l-heigth-mob;
	}

	.btn{

	}

	.title{
	
	}
}