*{padding: 0; margin: 0; outline: none}
ul{list-style-type: none}
a{text-decoration: none; -webkit-transition: .35s;
-moz-transition: .35s;
-ms-transition: .35s;
-o-transition: .35s;
transition: .35s;}
button{
	-webkit-transition: .35s;
	-moz-transition: .35s;
	-ms-transition: .35s;
	-o-transition: .35s;
	transition: .35s;
}

h1{
	font-family: "Roboto-Thin";
	text-align: center;
	font-size: 42px;
	text-transform: uppercase;
	font-weight: 100;
	padding-bottom: 30px;
}

h2{
	font-size: 24px;
	text-transform: uppercase;
}

h3{
	color: #009247;
	text-transform: uppercase;
	font-size: 18px;
	font-family: "RobotoBold";
}


html, body{
	font-family: $font-stack;
	font-size: $primary-fz;
	color: $primary-color;
	line-height: $primary-l-heigth;
}

a{
	color: $primary-color;
}
input{
	background: none;

}

.breadcrumbs{
	text-align: left;
	padding-bottom: 15px;
	padding-top: 30px;

	&__item{
		display: inline-block;

		&:after{
			content: '>';
		}

		a{
			color: #949494;
		
		}

		&:last-child{
			a{
				color: #656565;
			}
			&:after{
				content: '';
			}
		}
	}

	&__back{
		display: none;
	}
}


.container{
	width: 100%;
	max-width:  1170px;
	margin: 0 auto;
	position: relative;
	&:after{
		content: "";
		clear: both;
		display: block;
	}
}

.btn{
	text-align: center;
	font-size: 18px;
	color: #fff;
	width: 200px;
	display: block;
	border-radius: 50px;
	padding: 10px 0 ;
	background-color: #009247;
	cursor: pointer;

	&--buy{
		position: relative;
	}

	img{
		position: absolute;
		top:20px;
		right: 30px;		
	}

	&:hover{
		background-color: #00b659;
	}
}

.title{

	text-transform: uppercase;
	font-size: 18px;
}

/* ================paginator============== */

.list__paginator{
	//width: 320px;
	margin: 0 auto;
	padding-top: 30px;
	margin-bottom: 80px;
	.disabled{
		opacity: 0.5;
	}

	.page-link{
		border: 0;
		background-image: none;
		box-shadow: none;
		font-size: 16px;
		color: #3d3d3d;
		line-height: 25px;

		&:hover{
			//background-color: $lightgrey;
		}
	}
	.current{
		border-radius: 50px;
		border-color: transparent;
		box-shadow: none;
		background-color: #00933f;
		//background-color: $lightgrey;
		color: #fff;
		width: 25px;
		//height: 25px;
		line-height: 25px;
		margin: 0;
		padding: 0;
	}

	.prev{
		display: none;
	}

	.next{
		display: none;
	}

	li{
		
	}

	.clickable{
		&:hover{
			//background-color: $lightgrey !important;
		}
	}

	.light-theme{
		a:hover{
			background: none;
		}
	}
}

/* ==========m-top============ */

.m-top{
	background-color: #fcfcda;
	padding-bottom: 80px;
	&__body{
		width: 800px;
		margin: 0 auto;
		padding-top: 70px;
		display: -webkit-flex;
		display: flex;
		-webkit-align-items: center;
		align-items: center;
	}

	&__pict{
		width: 230px;
		padding-right: 100px;

		img{
			width: 100%;
		}
	}

	&__desc{
		font-size: 16px;
	}

	&__bot{
		display: -webkit-flex;
		display: flex;
		-webkit-align-items: center;
		align-items: center;
	}

	&__btn{
		margin-left: 95px;
	}

	&__price{
		font-size: 40px;
		font-family: "RobotoBold";
	}

	&__title{
		font-size: 45px;
		font-family: "RobotoBold";
		text-transform: uppercase;
	}
}

/* ==========arrs============ */
.arrs{
	position: absolute;
	right: 0;
	top: 15px;
	a{
		padding: 0 12px;
	}
	&__right{
		margin-right: -12px;
	}

	.slick-disabled{
		opacity: 0.5;
	}
}

/* ==========catalog============ */

.catalog{
	margin-bottom: 35px;
	display: -webkit-flex;
	display: flex;
	&__body{
		
	}

	&__ic{
		display: inline-block;
		width: 70px;
		text-align: center;
	}

	&__left{
		width: 285px;
		padding-top: 55px;
	}

	&__right{
		padding-top: 45px;
		width: 885px;
	}

	&__title{
		padding-left: 15px;
		padding-bottom: 8px;
	}

	&__type{
		position: relative;
		display: -webkit-flex;
		display: flex;
	}

	&__link2{
		padding: 10px 35px;
		display: block;
		font-size: 16px;
		&:hover{
			background-color: #fcfcda;
		}
		&--active{
			background-color: #fcfcda;
		}
	}

	&__link{
		border-bottom: $bd;
		font-size: 14px;
		color: #858585;
		text-transform: uppercase;
		line-height: 80px;
		height: 80px;
		display: block;
		position: relative;

		&:hover{
			background-color: #fbf9f9;
		}
		span{
			padding-left: 25px;
		}

		img{
			vertical-align: middle;
			line-height: 80px;
		}
	}

	&__arr{
		position: absolute;
		top: 44%;
		right: 35px;
	}

	&__good{
		width: 33.33%;

	}

	&__slider{
		border: $bd;
	
	}
}

.catalog-mob{
	display: none;
}

/* ==========good============ */
.good{
	padding: 0 15px;
	height: 486px;
	border-right: $bd;
	box-sizing: border-box;
	&:hover{
		.good__shop{
			background-color: #009247;
			background-image: url("../img/shopping-cart-w.svg")
		}
	}

	&__top{
		padding-top: 35px;
	}	

	&__pict{
		text-align: center;
		height: 280px;
		box-sizing: border-box;
		padding-top: 15px;

		img{
			max-width: 100%;
	    max-height: 100%;
	    width: auto;
	    height: auto;
	    margin: 0 auto;
		}
	}

	&__quan{
		display: block;
		text-align: center;
		line-height: 1.2;
		padding: 0 7px;
		font-size: 12px;
		color: $light-color;
		&--active{
			color: $primary-color;

			.good__dot{
				background-color: $primary-color;
			}
		}
	}

	&__desc{
		color: $light-color;
		line-height: 1.3;
	}

	&__type{
		width: 170px;
		display: -webkit-flex;
		display: flex;
	}

	&__bottom{
		padding-top: 25px;
		display: -webkit-flex;
		display: flex;
		-webkit-box-pack: justify;
		-webkit-justify-content: space-between;
		justify-content: space-between;
	}

	&__price{
		font-family: "RobotoBold";
		font-size: 24px;
		line-height: 1;
	}

	&__shop{
		margin-top: 5px;
		margin-left: auto;
		margin-right: 5px;
		display: block;
		width: 36px;
		height: 36px;
		border-radius: 20px;
		background-image: url("../img/shopping-cart.svg");
		background-position: center;
		background-repeat: no-repeat;
	}

	&__dot{
		margin: 0 auto;
		margin-top: 17px;
		width: 10px;
		height: 10px;
		border-radius: 6px;
		background-color: $light-color;
	}
}

/* ==========about============ */
.about{
	padding-bottom: 95px;
	&__title{
		font-size: 30px;
		text-align: center;
		text-transform: uppercase;
		padding-bottom: 15px;
	}
}

/* ==========overlay============ */
.overlay {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  background-color: #000;
  opacity: 0.5;
  z-index: 4;
}

.body{
	&--overflow{
		overflow: hidden;
	}
}

/* ==========card============ */
.card {
	height: 400px;
	border: $bd;
	&__pict{
		box-sizing: border-box;
		width: 414px;
		line-height: 400px;
		text-align: center;
		border-right: $bd;
		float: left;
		height: 100%;
		img{
			vertical-align: middle;
			line-height: 400px;
			width: auto;
			height: auto;
			max-width: 80%;
			max-height: 80%;
		}
	}

	&__content{
		float: left;
		width: 753px;
		box-sizing: border-box;
		padding: 40px;
		height: 100%;
	}

	&__title{
		text-transform: uppercase;
		font-size: 24px;
		padding-bottom: 10px;

	}

	&__text{
		color: #7f7f7f;
		padding-top: 20px;
		padding-bottom: 40px;
		height: 115px;
	}

	&__bottom{
		display: -webkit-flex;
		display: flex;-webkit-box-pack: justify;
		-webkit-justify-content: space-between;
		justify-content: space-between;
		-webkit-align-items: center;
		align-items: center;
	}

	&__buy{
		display: -webkit-flex;
		display: flex;
		-webkit-align-items: center;
		align-items: center;
	}

	&:after{
		content: "";
		clear: both;
		display: block;
	}

	&__price{
		color: #656565;
		font-family: "RobotoBold";
		padding-right: 30px;
		font-size: 36px;

	}

	&__extra{
		display: -webkit-flex;
		display: flex;
		margin-bottom: 95px;
	}

	&__good{
		width: 25%;
		border: $bd; 
		border-left: none;

		&:first-child{
			border-left: $bd;
		}
	}

	&__btn{
		padding: 7px 0;

		img{
			top: 16px;
		}
	}

	.good__quan--active{
		.good__dot{
			background-color: #009247;
		}
	}
}

/* ======================c-title============ */
.c-title{
	padding-top: 40px;
	padding-bottom: 20px;
	font-family: "Roboto-Thin";
	text-align: center;
	text-transform: uppercase;
	font-size: 24px;

}


/* ======================new============ */
.new{
	width: 100%;
	max-width:  1170px;
	margin: 0 auto;
	margin-bottom: 75px;
	&__img{
		overflow: hidden;
		height: 370px;
		img{
			min-width: 100%;
		}
	}

	&__date{
		color: $light-color;
		padding-top: 15px;
		padding-bottom: 10px;
	}

	&__more{
		font-size: 16px;
		text-transform: uppercase;
	}

	&__box{
		margin-top: -90px;
	}

	&__top{
		&--mob{
			display: none;
		}
	}

	&__content{
		padding-left: 30px;
		background-color: #FFF;
		margin-left: 60px;
		z-index: 2;
		position: relative;
	}

	&__title{
		padding-bottom: 10px;
	}

	&__text{
		color: #7f7f7f;
		padding-bottom: 30px;
	}
}

/* ======================news============ */
.news{
	width: 100%;
	max-width:  1170px;
	margin: 0 auto;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	justify-content: space-between;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
	
	&__paginator{
		display: -webkit-flex;
		display: flex;
		-webkit-box-pack: justify;
		-webkit-justify-content: center;
		justify-content: center;
	}
	.new{
		width: 47.5%;
		margin-bottom: 35px;

		&__text{
			padding-bottom: 20px;
			height: 70px;
			overflow: hidden;
		}
	}
}

/* ======================template============ */
.template{
	&__imgleft{
		width: 370px;
		float: left;
		margin-bottom: 30px;
		margin-right: 30px;
		
	}

	&__imgright{
		width: 370px;
		float: right;
		margin-bottom: 30px;
		margin-left: 30px;
	}

	&__flex{
		display: -webkit-flex;
		display: flex;
		-webkit-box-pack: justify;
		-webkit-justify-content: space-between;
		justify-content: space-between;
	}

	.good__desc{
		padding-bottom: 25px;
	}

	.new{
		margin-bottom: 0;
	}

	p{
		padding-bottom: 25px;
	}
	
	ul{
		list-style-type: disc;
		padding-left: 50px;
		margin-bottom: 25px;

		li{
			color: #009247;
			span{
				color: $primary-color;
			}
		}
	}	

	li{	
		padding-bottom: 8px;	
	}

	ol{
		list-style-type: decimal;
		padding-left: 50px;
		margin-bottom: 25px;
	}

	table{
		width: 100%;
		text-align: left;
		font-size: 14px;
		border-spacing: 0;
		border-collapse: collapse;
		box-sizing: border-box;
		margin-bottom: 25px;
	}

	thead{
		background-color: #fafafa;
		color: #009247 ;
	
		font-family: "RobotoBold";
	}

	tbody{
		color: #555555;
	}

	th, td{
		padding: 11px 10px 14px;
		border: 1px solid #e8e8e8;
	}
}
/* ==================================responsive========================== */
/* ==================================960========================== */
/* ==================================================================== */
@media screen and (max-width: 1170px){
	.container{
		max-width:  960px;
		padding: 0 10px;
	}

	/* ==========catalog============ */
	.catalog{
		&__right{
			width: 700px;
		}

		&__left{
			padding-top: 56px;
		}

		&__link2{
			padding: 10px 17px;
		}
	}

	/* ==========card============ */
	.card {
		height: 400px;
		&__pict{
			width: 320px;		
		}

		&__content{
			padding: 20px 30px;
			width: 638px;
		}

		&__good{
			width: 33.33%;
			&:last-child{
				display: none;
			}
		}
	}

	/* ==============new============ */
	.new{
		max-width:  960px;
	}
	
	/* ======================news============ */
	.news{
		max-width:  960px;
	}

}

/* ==================================744========================== */

@media screen and (max-width: 959px){
	.container{
		max-width:  724px;
		padding: 0 10px;
	}

	/* ==========catalog============ */
	.catalog{
		&__left{
			width: 185px;
			padding-top: 63px;
		}

		&__right{
			width: 558px;
		}

		&__link2{
			padding: 10px 12px;
		}

		&__ic{
			width: 50px;
			text-align: center;
			img{
				max-width: 100%;
			}
		}

		&__title{
			font-size: 14px;
			padding-left: 0;
		}

		&__arr{
			right: 18px;
		}
	}

	/* ==========m-top============ */
	.m-top{

		&__body{
			width: 100%;

			justify-content: flex-end;
		}

		&__pict{
			width: 205px;
		}

		&__title{
			font-size: 36px;
		}
	}

	/* ==========about============ */
	.about{
		padding-bottom: 65px;
	}

	/* ==========card============ */
	.card {
		height: 400px;
		&__pict{
			width: 300px;		
		}

		&__content{
			padding: 10px 20px;
			padding-right: 10px;
			width: 421px;
		}

		&__buy{
			display: block;
		}

		&__bottom{
			align-items: flex-start;
		}

		&__price{
			font-size: 30px;
			line-height: 1;
			text-align: right;
			padding-bottom: 10px;
			padding-right: 0;
			text-align: center;
		}

		&__btn{
			width: 165px;
		}

		&__text{
			line-height: 1.3
		}

		&__good{
			width: 50%;
			&:nth-last-child(2){
				display: none;
			}
		}
	}

	/* ======================c-title============ */
	.c-title{
		font-size: 18px;
	}

	/* ======================new============ */
	.new{
		max-width:  724px;
	}

	/* ======================news============ */
	.news{
		max-width:  724px;
		display: block;

		.new{
			width: 100%;

			&__text{
				padding-bottom: 10px;
			}
		}
	}


}

/* ==================================320========================== */
@media screen and (max-width: 743px){
	.container{
		max-width:  460px;
		padding: 0 10px;
		box-sizing: border-box;
	}

	h1{
		font-size: 24px;
		padding-bottom: 10px;
	}

	h2{
		font-size: 18px;
	}

	h3{
		font-size: 16px;
	}

	html, body{
		font-size: $primary-fz-mob;
		line-height: $primary-l-heigth-mob;
	}

	.btn{
		width: 140px;

		img{
			top: 15px;
    	right: 16px;
		}
	}

	.title{
	
	}
	
	/* ===================good================ */
	.good{
		&__shop{
			background-color: #009247;
    	background-image: url(../img/shopping-cart-w.svg);
		}
	}
	
	/* ======================m-top================= */
	.m-top{
		padding-bottom: 55px;
		&__body{
			display: block;
			padding-top: 6px;
			width: auto;
		}

		&__content{
			margin-top: 25px;
		}

		&__pict{
			padding-right: 0;
			margin: 0 auto;
		}

		&__title{
			font-size: 24px;
			padding-bottom: 10px;
		}

		&__desc{
			margin-bottom: 30px;
		}

		&__price{
			font-size: 36px;
		}

		&__btn{
			margin-left: 0;
		}

		&__bot{

			-webkit-box-pack: justify;
			-webkit-justify-content: space-between;
			justify-content: space-between;
		}

	}

	/* ===============catalog============= */
	.catalog{
		display: none;

		&__good{
			width: 100%;
			border-right: none;
			border-bottom: $bd;
		}
	}

	.catalog-mob{
		display: block;
		margin-bottom: 20px;

		&__list{
			border: $bd;
			border-bottom: none;
		}

		&__title{
			font-size: 14px;
			text-transform: uppercase;
			padding: 18px 0 13px;
			text-align: center;
		}
	}

	/* ==========card============ */
	.card{
		height: auto;
		border: none;
		&__pict{
			width: 100%;		
			border: none;
			height: auto;
			line-height: $primary-l-heigth;
		}

		&__content{
			width: 100%;
			padding: 35px 0;
			padding-bottom: 50px;
		}



		&__bottom{
			display: block;
		}

		&__type{
			width: 200px;
			margin: 0 auto;
			margin-bottom: 25px;
		}

		&__price{
			font-size: 36px;
			padding-bottom: 0;
		}

		&__text{
			height: auto;
		}

		&__btn{
			 padding: 11px 0;
			img{
				    top: 16px;
			}
		}

		&__buy{
			display: -webkit-flex;
			display: flex;
			-webkit-box-pack: justify;
			-webkit-justify-content: space-between;
			justify-content: space-between;
		}

		&__extra{
			display: block;
			border: $bd;
			border-bottom: none;
			margin-bottom: 60px;
		}

		&__good{
			border: none;
			width: 100%;
			border-bottom: $bd;
			
			&:first-child{
				border-left: none;
			}

			&:nth-last-child(2){
				display: block;
			}

			&:last-child{
				display: block;
			}
		}
	
	}

	/* ======================new============ */
	.new{
		margin-bottom: 40px;
		&__img{
			height: auto;
			width: 100%;
			position: relative;
		}

		&__box{
			margin-top: 0;
		}


		&__text{
			line-height: 1.714;
		}

		&__date{
			max-width:  460px;
			margin: 0 auto;
			box-sizing: border-box;
			padding-left: 10px;
			padding-right: 10px;
			color: #6a6a6a;

			img{
				min-width: auto;
			}
		}

		&__title{
			max-width:  460px;
			margin: 0 auto;
			box-sizing: border-box;
			padding-left: 10px;
			padding-right: 10px;
			line-height: 1.2;
			padding-bottom: 15px;
			font-size: 16px;
			color: #6a6a6a;
		}

		&__top{
			background-color: #FFF;
			opacity: 0.9;

			&--desk{
				display: none;
			}

			&--mob{
				display: block;
				position: absolute;
				width: 100%;
				bottom: 0;
				left: 0;
			}
		}

		&__content{
			margin-left: 0;
			padding-left: 0;
			background-color: transparent;
		}

		&__textbox{
			box-sizing: border-box;
			padding-left: 10px;
			padding-right: 10px;
			max-width:  460px;
			margin: 0 auto;
			padding-top:30px;
		}
	}

	/* ======================news============ */
	.news{
		.new{
			&__textbox{
				padding-top: 0px;
			}

			&__img{
				height: 300px;
			}

			&__text{
				height: auto;
			}
		}


	}

	/* ================paginator============== */
	.list__paginator{
		margin-bottom: 50px;
	}

	/* ======================template============ */
	.template{
		line-height: 1.714;
		overflow: hidden;
		img{
			float: none;
			width: 100%;
			margin-left: 0;
			margin-right: 0;
		}

		.new__img{
			img{
				width: auto;
			}
			.new__date{
				img{
					width: auto;
				}
			}
		}

		


		&__flex{
			display: block;
		}

		ol{
			padding-left: 20px;
		}

		ul{
			padding-left: 20px;
		}

		&__over{
			overflow: auto;
		}

		table{
			min-width: 600px;
			
		}
	}

}