
/* =================body================= */

$font-stack: "RobotoRegular", 'OpenSansRegular', sans-serif;
$primary-color: #646464;
$primary-fz: 14px;
$primary-l-heigth: 1.714;
$bd: 1px solid #e6e6e6;
$light-color: #ababab;

	/* ==mob== */
$primary-fz-mob: 14px;
$primary-l-heigth-mob: 1.286;





